[submodule "alethzero"]
	path = alethzero
	url = https://github.com/ethereum/alethzero
	branch = release
[submodule "mix"]
	path = mix
	url = https://github.com/ethereum/mix
	branch = release
[submodule "solidity"]
	path = solidity
	url = https://github.com/ethereum/solidity
	branch = release
[submodule "webthree"]
	path = webthree
	url = https://github.com/ethereum/webthree
	branch = release
[submodule "libweb3core"]
	path = libweb3core
	url = https://github.com/ethereum/libweb3core
	branch = release
[submodule "libethereum"]
	path = libethereum
	url = https://github.com/ethereum/libethereum
	branch = release
[submodule "webthree-helpers"]
	path = webthree-helpers
	url = https://github.com/ethereum/webthree-helpers
	branch = release
[submodule "web3.js"]
	path = web3.js
	url = https://github.com/ethereum/web3.js
	branch = release
