[submodule "solidity"]
	path = solidity
	url = https://github.com/ethereum/solidity
	branch = develop
[submodule "webthree"]
	path = webthree
	url = https://github.com/debris/webthree
	branch = develop
[submodule "cmake"]
	path = cmake
	url = https://github.com/debris/cpp-ethereum-cmake
	branch = develop
[submodule "alethzero"]
	path = alethzero
	url = https://github.com/ethereum/alethzero
	branch = develop
[submodule "dev"]
	path = dev
	url = https://github.com/debris/dev
	branch = develop
[submodule "ethereum"]
	path = ethereum
	url = https://github.com/debris/ethereum
	branch = develop
[submodule "mix"]
	path = mix
	url = https://github.com/ethereum/mix
	branch = develop
