#------------------------------------------------------------------------------
# Appveyor configuration file for cpp-ethereum.
#
# The documentation for cpp-ethereum is hosted at http://cpp-ethereum.org
#
# ------------------------------------------------------------------------------
# This file is part of cpp-ethereum.
#
# cpp-ethereum is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# cpp-ethereum is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with cpp-ethereum.  If not, see <http://www.gnu.org/licenses/>
#
# (c) 2016 cpp-ethereum contributors.
#------------------------------------------------------------------------------

branches:
  only:
    - master
    - develop
os: Visual Studio 2015
configuration:
    - RelWithDebInfo
environment:
    TESTS: On
clone_script:
# We have to overwrite the clone script to update submodules before
# the cache invalidation check.
  - ps: |
      if(-not $env:appveyor_pull_request_number) {
          git clone -q --depth 1 --branch=$env:appveyor_repo_branch https://github.com/$env:appveyor_repo_name.git $env:appveyor_build_folder
          git checkout -qf $env:appveyor_repo_commit
          git submodule -q update --init --recursive
      } else {
          git clone -q --depth 1 https://github.com/$env:appveyor_repo_name.git $env:appveyor_build_folder
          git fetch -q origin +refs/pull/$env:appveyor_pull_request_number/merge:
          git checkout -qf FETCH_HEAD
          git submodule -q update --init --recursive
      }
cache:
    - build/evmjit/llvm -> evmjit/cmake/llvm.cmake
    - deps
#RDP LOGIN details for trouble shooting
#init:
#    - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
#on_finish:
#    - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
install:
    - scripts/install_deps.bat
    - set ETHEREUM_DEPS_PATH=%APPVEYOR_BUILD_FOLDER%\deps
before_build:
    - if not exist build mkdir build
    - cd build
    - cmake -G "Visual Studio 14 2015 Win64" .. -DTESTS=%TESTS% -DEVMJIT=On
build_script:
    - msbuild cpp-ethereum.sln /p:Configuration=%CONFIGURATION% /m:%NUMBER_OF_PROCESSORS% /v:minimal
    - cd %APPVEYOR_BUILD_FOLDER%
    - scripts\release.bat %CONFIGURATION% %ETHEREUM_DEPS_PATH% %TESTS%
test_script:
    - cd %APPVEYOR_BUILD_FOLDER%
    - scripts\tests.bat %TESTS% %CONFIGURATION% %APPVEYOR_BUILD_FOLDER% %ETHEREUM_DEPS_PATH%
artifacts:
    - path: cpp-ethereum-windows.zip
      name: cpp-ethereum-windows-zip

# This is the deploy target for Windows which generates ZIPs per commit.
# We are in agreement that generating ZIPs per commit for the develop
# branch is probably just noise, so we only run this deployment target
# on 'release'.
#
# See https://www.appveyor.com/docs/deployment/github for information
# on GitHub Releases in Appveyor.
#
# You need to generate a GitHub personal access token for Appveyor
# See https://github.com/settings/tokens for more information on that.
# The token you generate there (in an encrypted form) is what is
# passed to this deployment target in the 'auth_token' parameter
# below.
deploy:
    prerelease: true
    provider: GitHub
    auth_token:
        secure: yukM9mHUbzuZSS5WSBLKSW0yGJerJEqAXkFhDhSHBBcKJE7GAryjQsdO9Kxh3yRv
    artifact: cpp-ethereum-windows-zip
    on:
        branch: release

# Disable slightly annoying AppVeyorBot.  The comments it adds onto Github issues are
# redundant with the "Checks Passed/Failure" detail which is already on the issues.
notifications:
    - provider: GitHubPullRequest
      on_build_success: false
      on_build_failure: false
      on_build_status_changed: false
