#------------------------------------------------------------------------------
# Appveyor configuration file for cpp-ethereum.
#
# The documentation for cpp-ethereum is hosted at:
#
# http://www.ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/
#
# TODO - Address the hardcoded paths in this file.
# See https://github.com/ethereum/webthree-umbrella/issues/625.
#
# (c) 2016 cpp-ethereum contributors.
#------------------------------------------------------------------------------

version: 1.3.0.{build}
branches:
    only:
        - develop
        - merge_repos
        - release
skip_tags: true
os: Visual Studio 2015
configuration:
    - RelWithDebInfo
install:
    - git submodule update --init --recursive
    - scripts/install_deps.bat
    - set ETHEREUM_DEPS_PATH=%APPVEYOR_BUILD_FOLDER%\deps\install
before_build:
    - if not exist build mkdir build
    - cd build
    - cmake -G "Visual Studio 14 2015 Win64" ..
build_script:
    - msbuild cpp-ethereum.sln /p:Configuration=%CONFIGURATION% /m:%NUMBER_OF_PROCESSORS% /v:minimal
    - cd %APPVEYOR_BUILD_FOLDER%
    - scripts\release.bat %CONFIGURATION% %ETHEREUM_DEPS_PATH%

test_script:
    - cd ..
    - git clone https://github.com/ethereum/tests.git
    - set ETHEREUM_TEST_PATH=%APPVEYOR_BUILD_FOLDER%\..\tests

    - cd %APPVEYOR_BUILD_FOLDER%\build\test\libethereum\test\%CONFIGURATION%
    - copy "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\redist\x86\Microsoft.VC140.CRT\msvc*.dll" .
    - copy %ETHEREUM_DEPS_PATH%\x64\bin\libcurl.dll .
    - copy %ETHEREUM_DEPS_PATH%\x64\bin\libmicrohttpd-dll.dll .
    #- testeth.exe

    - cd %APPVEYOR_BUILD_FOLDER%\build\test\libweb3core\test\%CONFIGURATION%
    - copy "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\redist\x86\Microsoft.VC140.CRT\msvc*.dll" .
    - copy %ETHEREUM_DEPS_PATH%\x64\bin\libcurl.dll .
    - copy %ETHEREUM_DEPS_PATH%\x64\bin\libmicrohttpd-dll.dll .
    #- testweb3core.exe

    - cd %APPVEYOR_BUILD_FOLDER%\build\test\webthree\test\%CONFIGURATION%
    - copy "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\redist\x86\Microsoft.VC140.CRT\msvc*.dll" .
    - copy %ETHEREUM_DEPS_PATH%\x64\bin\libcurl.dll .
    - copy %ETHEREUM_DEPS_PATH%\x64\bin\libmicrohttpd-dll.dll .
    - copy %ETHEREUM_DEPS_PATH%\win64\bin\OpenCL.dll .
    #- testweb3.exe

artifacts:
    - path: cpp-ethereum-develop-windows.zip
      name: cpp-ethereum-develop-windows-zip
deploy:
    release: cpp-ethereum-develop-v$(APPVEYOR_BUILD_VERSION)
    tag: develop-v$(APPVEYOR_BUILD_VERSION)
    description: 'Development build of cpp-ethereum at commit $(APPVEYOR_REPO_COMMIT).\n\n$(APPVEYOR_REPO_COMMIT_MESSAGE)\n\nCommitted by $(APPVEYOR_REPO_COMMIT_AUTHOR), $(APPVEYOR_REPO_COMMIT_TIMESTAMP).'
    prerelease: true
    provider: GitHub
    auth_token:
        secure: yukM9mHUbzuZSS5WSBLKSW0yGJerJEqAXkFhDhSHBBcKJE7GAryjQsdO9Kxh3yRv
    artifact: cpp-ethereum-develop-windows-zip
    on:
        branch: merge_repos
